@{ 
    Layout = null;
    FlowNode node = ViewBag.FlowNode;
    List<User> users = ViewBag.Users;
    Flow flow = ViewBag.Flow;
    var last = flow.GetLastNode();
}

<script>
    $(function () {


        $(".chosen-select").chosen({ width: "100%" });

        $("#form-node").submit(function () {
            LWSubmit("#form-node");
            return false;
        });
    });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <i class="fa @(node==null?"fa-plus-square":"fa-edit")  modal-icon"></i>
    <h4 class="modal-title">@string.Format("{0}节点", node == null ? "添加" : "编辑") </h4>
</div>

<form class="form-horizontal" method="post" id="form-node" action="/Admin/FlowNode/Save" Url="/Admin/Flow/Index">
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-3">所属流程：</label>
            <div class="col-sm-7">
                <input type="hidden" name="FlowId" value="@(flow==null?0:flow.ID)" />
                <input type="hidden" name="PrevId" value="@(last==null?0:last.ID)" />
                <input type="text" class="form-control" value="@(flow==null?"":flow.Name)"  readonly/>
            </div>
        </div>
        @if (last != null)
        {
            <div class="form-group">
                <label class="control-label col-sm-3">上一节点：</label>
                <div class="col-sm-7">
                    
                    <input type="text" class="form-control" readonly value="@(last.Name)" />
                </div>
            </div>
        }
 
        <div class="form-group">
            <label class="control-label col-sm-3">节点名称：</label>
            <div class="col-sm-7">
                <input type="hidden" name="ID" value="@(node==null?0:node.ID)" />
                <input type="hidden" name="PrevId" value="@(node==null?0:node.PrevId)" />
                <input type="text" name="Name" class="form-control" placeholder="节点名称" required  value="@(node==null?"":node.Name)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">节点审核人：</label>
            <div class="col-sm-7">
                <select name="UserId" class="chosen-select" data-placeholder="请选择审核人">
                    <option value="" @(node==null?"selected=selected":"")>请选择</option>
                    @foreach(var item in users)
                    {
                        <option value="@(item.ID)" @(node!=null&&node.UserId==item.ID?"selected=selected":"")>@(item.Name)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">备注：</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" name="Remark">@(node==null?"":node.Remark)</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>确定</button>
        <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
    </div>
</form>
