<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@(ViewBag.Title)-Hangzhou Loowoo Tech Co.,Ltd</title>

    <link rel="icon" href="~/Images/loowootech -small-logo.png" />
    <link rel="shortcut icon" href="~/Images/loowootech -small-logo.png" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/toastr/toastr.min.css" />

    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/iCheck/custom.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/chosen/bootstrap-chosen.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/steps/jquery.steps.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/select2/select2.min.css" />

    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/inspinia.js"></script>

    <script src="~/scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/scripts/plugins/flot/jquery.flot.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/scripts/plugins/pace/pace.min.js"></script>
    <script src="~/scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/scripts/plugins/steps/jquery.steps.min.js"></script>
    <script src="~/scripts/plugins/select2/select2.full.min.js"></script>

    <script src="~/scripts/common.js"></script>
    <script src="~/scripts/LoowooTech.js"></script>
    @RenderSection("links",false)
    @RenderSection("scripts",false)
    <style>
        html{
            font-family:'Microsoft YaHei';
        }
        body{
            font-family:'Microsoft YaHei';
        }
    </style>
    <script>
        $(function () {

            $("#Modal").on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        });
    </script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="/@(Identity.LogoPath)" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@(Identity.Name)</strong>
                                    </span> <span class="text-muted text-xs block">@(Identity.LoginName) <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="/User">修改基本信息</a></li>
                                <li><a href="/User/Password?id=@(Identity.UserId)">修改密码</a></li>
                                <li><a href="/User/ChangeHead?id=@(Identity.UserId)" data-toggle="modal" data-target="#Modal">更改头像</a></li>
                                <li class="divider"></li>
                                <li><a href="/User/LogOut">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            LW
                        </div>
                    </li>
                    <li class="@(string.IsNullOrEmpty(ViewBag.Area)&&ViewBag.Controller.ToLower()=="Home".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")">
                        <a href="/Home/Index"><i class="fa fa-desktop"></i><span class="nav-label">欢迎页</span></a>
                    </li>
                    <li class="@(ViewBag.Area.ToLower()=="Memo".ToLower()&&ViewBag.Controller.ToLower()=="Home".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")">
                        <a href="/Memo/Home/Index"><i class="fa fa-pencil"></i><span class="nav-label">便签</span> </a>
                    </li>
                    <li class="@(ViewBag.Area.ToLower()=="Address".ToLower()&&ViewBag.Controller.ToLower()=="Home".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")">
                        <a href="/Address/Home/Index"><i class="fa fa-address-book"></i><span class="nav-label">通讯录</span></a>
                    </li>
                    <li class="@(ViewBag.Area.ToLower()=="Expense".ToLower()&&ViewBag.Controller.ToLower()=="Home".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")">
                        <a href="/Expense/Home/Index"><i class="fa fa-desktop"></i><span class="nav-label">报销系统首页</span></a>
                    </li>
                    <li class="@(ViewBag.Area.ToLower()=="Project".ToLower()&&ViewBag.Controller.ToLower()=="Home".ToLower()?"active":"")">
                        <a href="/Project/Home/Index"><i class="fa fa-diamond"></i><span class="nav-label">项目系统首页</span></a>
                    </li>
                    @RenderSection("navigation", false)

                    @if (Identity.UserRole == UserRole.Admin)
                    {
                        <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()?"active":"")">
                            <a href="#"><i class="fa fa-gears"></i><span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="user".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")" ><a href="/Admin/User/Index">人员管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="Group".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/Group/Index">部门管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="City".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/City/Index">城市管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="Company".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/Company/Index">单位管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="ProjectType".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/ProjectType/Index">项目类型管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="Flow".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/Flow/Index">流程管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="Category".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/Category/Index">日常类别管理</a></li>
                                <li class="@(ViewBag.Area.ToLower()=="Admin".ToLower()&&ViewBag.Controller.ToLower()=="LWSystem".ToLower()&&ViewBag.Action.ToLower()=="Index".ToLower()?"active":"")"><a href="/Admin/LWSystem/Index">子系统管理</a></li>
                            </ul>
                        </li>
                    }
                 
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Hangzhou Loowoo Tech Co.,Ltd. </span>
                        </li>
                        <li>
                            <a href="/Feed/Index"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="/User/LogOut">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>@(ViewBag.Title)</h2>
                    <small>@RenderSection("Description",false)</small>
                </div>
                <div class="col-lg-4">
                    @RenderSection("ButtonHead",false)
                </div>
                <div class="col-lg-12"></div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong>Hangzhou Loowoo Tech Co.,Ltd  杭州陆吾科技信息咨询有限公司  &copy; 2011-@(DateTime.Now.Year)
                </div>
            </div>

        </div>

    </div>

    <div class="modal inmodal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">正在加载...<span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
