<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@(ViewBag.Title)-Hangzhou Loowoo Tech Co.,Ltd</title>

    <link rel="icon" href="~/Images/loowootech -small-logo.png" />
    <link rel="shortcut icon" href="~/Images/loowootech -small-logo.png" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/toastr/toastr.min.css" />

    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/iCheck/custom.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/chosen/bootstrap-chosen.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/steps/jquery.steps.css" />

    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/inspinia.js"></script>

    <script src="~/scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/scripts/plugins/flot/jquery.flot.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/scripts/plugins/flot/jquery.flot.pie.js"></script>
    @*<script src="~/scripts/inspinia.js"></script>
    <script src="~/scripts/plugins/pace/pace.min.js"></script>*@
    <script src="~/scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/scripts/plugins/steps/jquery.steps.min.js"></script>

    <script src="~/scripts/common.js"></script>
    <script src="~/scripts/LoowooTech.js"></script>
    @RenderSection("scripts",false)
    <style>
        html{
            font-family:'Microsoft YaHei';
        }
        body{
            font-family:'Microsoft YaHei';
        }
    </style>
    <script>
        $(function () {
            $(".i-checks").iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $("#Modal").on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        });
    </script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Images/loowootech -head.png" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@(Identity.Name)</strong>
                                    </span> <span class="text-muted text-xs block">@(Identity.LoginName) <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="/User/LogOut">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            LW
                        </div>
                    </li>
                    <li>
                        <a href="/Home/Index"><i class="fa fa-desktop"></i><span class="nav-label"></span>欢迎页</a>
                    </li>
                    <li>
                        <a href="/Memo/Home/Index"><i class="fa fa-pencil"></i><span class="nav-label"></span> 便签</a>
                    </li>
                    <li>
                        <a href="/Address/Home/Index"><i class="fa fa-address-book"></i><span class="nav-label"></span>通讯录</a>
                    </li>
                    @RenderSection("navigation",false)
                   
                    <li>
                        <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="graph_flot.html">Flot Charts</a></li>
                            <li><a href="graph_morris.html">Morris.js Charts</a></li>
                            <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                            <li><a href="graph_chartjs.html">Chart.js</a></li>
                            <li><a href="graph_chartist.html">Chartist</a></li>
                            <li><a href="c3.html">c3 charts</a></li>
                            <li><a href="graph_peity.html">Peity Charts</a></li>
                            <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="mailbox.html">Inbox</a></li>
                            <li><a href="mail_detail.html">Email view</a></li>
                            <li><a href="mail_compose.html">Compose email</a></li>
                            <li><a href="email_template.html">Email templates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
                    </li>
                    <li>
                        <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Hangzhou Loowoo Tech Co.Ltd </span>
                        </li>
                        <li>
                            <a href="/Feed/Index"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="/User/LogOut">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>@(ViewBag.Title)</h2>
                    <small>@RenderSection("Description",false)</small>
                </div>
                <div class="col-lg-4">
                    @RenderSection("ButtonHead",false)
                </div>
                <div class="col-lg-12"></div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong>Hangzhou Loowoo Tech Co.,Ltd  杭州陆吾科技信息咨询有限公司  &copy; 2011-@(DateTime.Now.Year)
                </div>
            </div>

        </div>

    </div>

    <div class="modal inmodal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">正在加载...<span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
