@model FlowData

@{
    if (Model == null)
    {
        return;
    }
    var url = ViewBag.URL;
}


<script>
    $(function () {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $("form[name='form-flow']").submit(function () {
            LWSubmit("form[name='form-flow']");
            return false;
        });
    });
</script>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>审批流程信息</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12">
                @if (Model.NodeDatas != null && Model.NodeDatas.Count > 0)
                {
                    <div class="vertical-container dark-timeline" id="vertical-timeline">
                        @foreach (var node in Model.NodeDatas)
                {
                            <div class="vertical-timeline-block">
                                @switch (node.state)
                                {
                                    case VerificationState.None:
                                        <div class="vertical-timeline-icon blue-bg">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                        break;
                                    case VerificationState.Success:
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        break;
                                    case VerificationState.Fail:
                                        <div class="vertical-timeline-icon red-bg">
                                            <i class="fa fa-ban"></i>
                                        </div>
                                        break;
                                    case VerificationState.Cancel:
                                        <div class="vertical-timeline-icon yellow-bg">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        break;

                                }
                            
                                <div class="vertical-timeline-content">
                                    <h2>@(node.FlowNode.Name)</h2>
                                    <p>审核人：@(node.User.Name)</p>
                                    <p>审核状态：
                                    <span class="badge @(node.state==VerificationState.Success?"badge-primary":node.state==VerificationState.Fail?"badge-danger":node.state==VerificationState.Cancel?"badge-warning":"")">
                                        @(node.state.GetDescription())
                                    </span>
                                    </p>
                                    <p>
                                        审核时间：
                                        @if (node.CheckTime.HasValue)
                                        {
                                            <span>
                                                @(node.CheckTime.Value.ToLongDateString())
                                                <small>@(node.CheckTime.Value.ToString("HH:mm:ss"))</small>
                                            </span>
                                        }
                                    </p>
                                    <p>@(node.Content)</p>
                                    <span class="vertical-date">
                                        @(node.Time.ToLongDateString())<br />
                                        <small>@(node.Time.ToString("HH:mm:ss"))</small>
                                    </span>
                         
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <span>当前无审批信息!</span>
                    </div>
                }
                <div class="hr-line-dashed"></div>
                @if (Model.State == FlowDataState.Checking)
                                {
                                    if (Model.Current != null && Model.Current.state == VerificationState.None && Model.Current.UserId == Identity.UserId)
                                    {
                        <form class="" method="post" action="/Flows/Save" Url="@(url)" name="form-flow">
                            <input type="hidden" name="ID" value="@(Model.Current.ID)" />
                            <input type="hidden" name="FlowDataId" value="@(Model.ID)" />
                            <input type="hidden" name="FlowNodeId" value="@(Model.Current.FlowNodeId)" />
                            <div class="form-group">
                                <label class="control-label">审核结果：</label>
                                <div class="col-xs-12">
                                    <label class="radio-inline i-checks">
                                        <input type="radio" value="@(VerificationState.Success)" name="State" />通过
                                    </label>
                                    <label class="radio-inline i-checks">
                                        <input type="radio" value="@(VerificationState.Fail)" name="State" />不通过
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">审核意见：</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" name="Content" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br />
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>审核</button>
                                </div>
                            </div>
                        </form>
                    }
                }

            </div>
        </div>


    </div>
</div>
