@model List<Errand>

@{ 
    var persons = Model == null ? "" : string.Join(";", Model.Select(e => e.User.Name).ToArray());
    var Currenttype = Model == null ? ErrandType.Common : Model.FirstOrDefault().ErrandType;
}

<script>
    function UserOK() {
        var mans = [];
        var vv = [];
        $("input[name='UserId']:checked").each(function () {
            mans.push($(this).val());
            vv.push($(this).parent().next().text());
        });


        var node = $("#Time");
        node.empty();
        var mode = $("#U").html();
        $.each(vv, function (i, value) {
            var appendHtml = mode.replace("{Name}", value).replace("{UserId}", mans[i]);
            node.append(appendHtml);
        });
        $(".input-daterange").datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $("input[name='Persons']").val(vv.join(';'));
    }
</script>

<div class="ibox">
    <div class="ibox-title">
        <h5>出差人员详情</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="alert alert-warning" role="alert">
            <p class="lead">填写说明</p>
            <p>1、<strong>差补费</strong>：普通出差：天数*80;驻场出差：天数*100；</p>
            <p>2、当选择出差人员之后，相应填写每个出差人员的出差时间，用于计算出差补贴费用;</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">出差类型：</label>
            <div class="col-sm-8">
                @foreach (ErrandType type in Enum.GetValues(typeof(ErrandType)))
                {
                    <div class="radio-inline i-checks">
                        <label>
                            <input type="radio" name="ErrandType" value="@(type)" @(Currenttype==type?"checked=checked":"") />@(type.GetDescription())
                        </label>
                    </div>
                }

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">出差人员：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" name="Persons" class="form-control" placeholder="出差人员" readonly value="@(persons)" />
                    <div class="input-group-btn">
                        <a href="/Expense/User/Select" action="/Expense/User/Select?" goal="UserId" class="btn btn-primary" data-toggle="modal" data-target="#Modal" name="Select"><i class="fa fa-mouse-pointer"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Time">
            @if (Model != null)
            {
                foreach(var item in Model)
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">@(item.User.Name):</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="UserId" value="@(item.UserId)" />
                            <div class="input-daterange input-group">
                                <input type="text" name="startTime" class="form-control" placeholder="出差起始时间" value="@(item.StartTime.ToString("MM/dd/yyyy"))" autocomplete="off" readonly  />
                                <span class="input-group-addon">-</span>
                                <input type="text" name="endTime" class="form-control" placeholder="出差结束时间" value="@(item.EndTime.ToString("MM/dd/yyyy"))" autocomplete="off" readonly  />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="hr-line-dashed"></div>
        <div class="alert alert-warning" role="alert">
            <strong>提示！</strong> 您需要选择出差类型并且选择人员出差时间，方可合计出差补；
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">差补合计：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="ErrandSum" readonly placeholder="差补费用" />
                    <span class="input-group-addon">元</span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" name="Errand"><i class="fa fa-calculator"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>