@{ 
    Layout = null;
    List<Sheet> list = ViewBag.List;
}

<table class="footable table table-striped toggle-arrow-tiny">
    <thead>
        <tr>
            <th>单号</th>
            <th data-toggle="true">报销单位</th>
            <th>填报时间</th>
            <th>发票张数</th>
            <th>报销金额【元】</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list)
        {
            <tr>
                <td>
                    <a href="/Expense/Evection/Detail?SheetId=@(item.ID)">@(item.SerialNumber)</a>
                  
                </td>
                <td>@(item.Company.Name)</td>
                <td>@(item.Time.ToLongDateString())</td>
                <td>@(item.Count)</td>
                <td>
                    <span class="badge badge-primary">@(item.Money)</span> 
                </td>
            </tr>
        }
    </tbody>
</table>