
@{
    ViewBag.Title = "平板查看";
    Layout = "~/Areas/Tablets/Views/Shared/_Layout.cshtml";
    Tablet tablet = ViewBag.Model;
}

@section Description{
    平板信息查看
    }


@section ButtonHead{
<div class="title-action">
    <a href="/Tablets/Tablet/Create?id=@(tablet.ID)" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#Modal"><i class="fa fa-edit"></i>编辑</a>
    <a href="/Tablets/Tablet/Delete?id=@(tablet.ID)" class="btn btn-danger btn-outline" name="Delete" Url="/Tablets/Tablet/Index"><i class="fa fa-trash"></i>删除</a>
    <button class="btn btn-default" onclick="history.back()"><i class="fa fa-arrow-left"></i>返回</button>
</div>
    }


<div class="row">
    <div class="col-xs-4">
        <div class="ibox">
            <div class="ibox-title">
                <h2>平板基础信息</h2>
            </div>
            <div class="ibox-content">
              
                
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-3">编号：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.Title)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">序列号：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.SerialNumber)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">购买人：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.BuyerName)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">购买时间：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.BuyTime.HasValue ? tablet.BuyTime.Value.ToString("yyyy-MM-dd") : "不详")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">平板类型：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.Type.Title)</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">开发者账号：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.AccountName)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">授权码：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.Code)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">备注：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.Remark)</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">登记人：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.User.Name)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">登记时间：</label>
                        <div class="col-xs-9">
                            <p class="form-control-static">@(tablet.Time.ToLongDateString())</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="ibox">
            <div class="ibox-title">
                <h3>使用登记</h3>
            </div>
            <div class="ibox-content">
             
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>项目名称</th>
                            <th>地区</th>
                            <th>用途/说明</th>
                            <th>领取时间</th>
                            <th>领取人</th>
                            <th>备注</th>
                            <th>归还时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (tablet.TabletRecords != null)
                        {
                            foreach(var item in tablet.TabletRecords)
                            {
                                <tr>
                                    <td>
                                        <a href="/Tablets/Record/Detail?id=@(item.RecordId)">@(item.Record.Title)</a> 
                                    </td>
                                    <td>@(item.Record.Project.Name)</td>
                                    <td>@(item.Record.City.LongName)</td>
                                    <td>@(item.Record.Purpose)</td>
                                    <td>@(item.Record.UseTime.ToString("yyyy-MM-dd"))</td>
                                    <td>@(item.Record.UseName)</td>
                                    <td>@(item.Record.Remark)</td>
                                    <td>
                                        @if (item.Revert != null&&item.RevertId.HasValue)
                                        {
                                            <a href="/Tablets/Revert/Detail?id=@(item.RevertId.Value)"  data-toggle="modal" data-target="#Modal">@(item.Revert.ReturnTime.ToLongDateString())</a>
                                
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

