@{ 
    Layout = null;
    Group group = ViewBag.Group;
}


<script>
    $(function () {
        $("#form-group").submit(function () {
            LWSubmit("#form-group");
            //var $btn = $("#form-group button");
            //$btn.attr("disabled", "disabled");
            //var data = $(this).serialize();
            //var href = $(this).attr("action");
            //var url = $(this).attr("Url");
            //$.request(href, data, function (json) {
            //    if (json.result == 1) {
            //        swal({
            //            title: "操作成功！",
            //            text: "操作成功，点击确定继续！",
            //            type: "success"
            //        }, function () {
            //            location.href = url;
            //        });
            //    } else {
            //        swal("操作失败", json.content, "error");
            //        $btn.removeAttr("disabled");
            //    }
            //});

            return false;
        });
    });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <i class="fa @(group==null?"fa-plus-square":"fa-edit")  modal-icon"></i>
    <h4 class="modal-title">@string.Format("{0}部门", group == null ? "添加" : "编辑") </h4>
</div>


<form class="form-horizontal" method="post" id="form-group" action="/Admin/Group/Save" Url="/Admin/Group/Index">
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-3">名称：</label>
            <div class="col-sm-7">
                <input type="hidden" name="ID" value="@(group==null?0:group.ID)" />
                <input type="hidden" name="Order" value="@(group==null?0:group.Order)" />
                <input type="text" name="Name" class="form-control" placeholder="部门名称" required value="@(group==null?"":group.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">说明/描述：</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" name="Description">@(group==null?"":group.Description)</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>确定</button>
        <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
    </div>
</form>
