@{ 
    Layout = null;

    List<Sheet> list = ViewBag.List;
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>单号</th>
            <th>报销单位</th>
            <th>报销时间</th>
            <th>报销金额【元】</th>
            <th>报销人</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list)
        {
            <tr>
                <td>
                    <a href="@(item.Address)">
                        @(item.SerialNumber)
                    </a>
                  
                </td>
                <td>@(item.Company.Name)</td>
                <td>@(item.Time.ToLongDateString())</td>
                <td>@(item.Money)</td>
                <td>@(item.User.Name)</td>
            </tr>
        }
    </tbody>
</table>

