
@{
    ViewBag.Title = "审核报销单";
    Layout = "~/Areas/Expense/Views/Shared/_Layout.cshtml";
    List<SheetFlowView> sheets = ViewBag.Sheets;
    List<Company> companys = ViewBag.Companys;
    List<User> users = ViewBag.Users;
    List<FlowNode> flowNodes = ViewBag.FlowNodes;
    SheetViewParameter parameter = ViewBag.Parameter;
    int serial = 1;
}

<link href="~/Content/css/plugins/textSpinners/spinners.css" rel="stylesheet" />

<script>
    $(function () {
        $("button[type='button'][name='ALL']").click(function () {
            $("div.icheckbox_square-green").addClass("checked");
            $("input[type='checkbox'][name='ID']").prop('checked', true);
            sumMoney();
        });

        $("button[type='button'][name='NOT']").click(function () {
            $("div.icheckbox_square-green").removeClass("checked");
            $("input[type='checkbox'][name='ID']").prop('checked', false);
            sumMoney();
        });

        $("button[type='button'][name='ANTI']").click(function () {
            $("div.icheckbox_square-green").each(function () {
                if ($(this).hasClass("checked")) {
                    $(this).removeClass("checked");
                } else {
                    $(this).addClass("checked");
                }
            });
            $("input[type='checkbox'][name='ID']").each(function () {
                if ($(this).is(":checked")) {
                    $(this).prop("checked", false);
                } else {
                    $(this).prop("checked", true);
                }
            })
            sumMoney();
        });


        $("button[type='button'][name='Calculator']").click(function () {
            sumMoney();
        });

        $("input[type='checkbox']").click(function () {
            sumMoney();
        }).change(function () {
            sumMoney();
            });

        $(".iCheck-helper").click(function () {
            sumMoney();
        });

        function sumMoney() {
            var sum = 0.0;
            $("input[type='checkbox']:checked").each(function () {
                var str = $(this).val();
                var money = $("input[name='" + str + "-Money']").val();
                var a = parseFloat(money);
                if (a != undefined) {
                    sum += a;
                }
            });

            $("input[name='Sum']").val(sum.toFixed(2));

        }

        $("a[name='Check']").click(function () {
            var href = $(this).attr("href");
            var datas = $("#form-flow").serialize();
            var node = $("#Show");
            node.show();
            $.ajax({
                type: 'POST',
                url: href,
                data: datas,
                async: true
            }).done(function (json) {
                if (json.result == 1) {
                    swal({
                        title: '批量审核成功',
                        text: '批量审核操作完成，点击确定刷新当前页面！',
                        type: 'success'
                    }, function () {
                        window.location.reload();
                    });
                   
                } else {
                    swal("批量操作失败,将刷新页面数据", json.content, "error");
         
                }
                node.hide();

            });
            return false;
        });

    });
</script>

<form method="get">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">报销单位：</label>
                    <select name="CompanyId" class="form-control">
                        <option value="" @(parameter.CompanyId.HasValue ? "" : "selected=selected")>全部</option>
                        @foreach (var company in companys)
                        {
                            <option value="@(company.ID)" @(parameter.CompanyId.HasValue && parameter.CompanyId.Value == company.ID ? "selected=selected" : "")>@(company.Name)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="Sum" class="form-control" readonly placeholder="合计金额" />
                        <span class="input-group-addon">元</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" name="Calculator"><i class="fa fa-calculator"></i>计算</button>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">报销人：</label>
                    <select name="SheetUserId" class="form-control">
                        <option value="" @(parameter.SheetUserId.HasValue?"":"selected=selected")>全部</option>
                        @foreach(var user in users)
                        {
                            <option value="@(user.ID)" @(parameter.SheetUserId.HasValue&&parameter.SheetUserId.Value==user.ID?"selected=selected":"")>@(user.Name)</option>
                        }
                    </select>
                </div>
    
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">审核环节:</label>
                    <select name="FlowNodeId" class="form-control">
                        <option value="" @(parameter.FLowNodeId.HasValue?"":"selected=selected")>全部</option>
                        @foreach(var flowNode in flowNodes)
                        {
                            <option value="@(flowNode.ID)" @(parameter.FLowNodeId.HasValue&&parameter.FLowNodeId.Value==flowNode.ID?"selected=selected":"")>@(flowNode.Name)</option>
                        }
                    </select>
                </div>

                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>过滤</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-content">
               
               

                <form class="form-horizontal" method="post" id="form-flow">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-white" name="ALL"><i class="fa fa-check"></i>全选</button>
                            <button type="button" class="btn btn-white" name="NOT"><i class="fa fa-remove"></i>全不选</button>
                            <button type="button" class="btn btn-white" name="ANTI"><i class="fa fa-circle-o-notch"></i>反选</button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div id="Show" style="display:none;">
                            <div class="h1 m-t-xs text-navy text-center">
                                <span class="loading dots"></span>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group pull-right">
                            <a href="/Flows/MutliSave?state=@(VerificationState.Success)" class="btn btn-primary" name="Check"><i class="fa fa-plane"></i>批量审核通过</a>
                        </div>
                    </div>
                    <table class="footable table table-striped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>审核环节</th>
                                <th>报销单号</th>
                                <th>报销单位</th>
                                <th>报销人</th>
                                <th>报销类型</th>
                                <th>报销时间</th>
                                <th>发票张数</th>
                                <th>报销金额【元】</th>
                                <th>审核状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sheet in sheets)
                            {
                                <tr>
                                    <td class="pull-left">
                                        <label class="checkbox i-checks" style="padding:0px;">
                                            <input type="checkbox" name="ID" value="@(sheet.ID)" />
                                        </label>
                                        <input type="hidden" name="@(sheet.ID)-Money" value="@(sheet.Money)" />
                                    </td>
                                    <td>@(serial++)</td>
                                    <td>@(sheet.FlowNodeName)</td>
                                    <td>
                                        <a href="@(sheet.SheetType==SheetType.Daily?"/Expense/Daily/Detail?sheetId=":sheet.SheetType==SheetType.Evection?"/Expense/Evection/Detail?sheetId=":"/expense/Reception/Detail?sheetId=")@(sheet.SheetId)">@(sheet.SerialNumber)</a>
                                    </td>
                                    <td>@(sheet.CompanyName)</td>
                                    <td>@(sheet.UserName)</td>
                                    <td>
                                        <span class="badge @(sheet.SheetType==SheetType.Daily?"badge-primary":sheet.SheetType==SheetType.Evection?"badge-success":"badge-warning")">
                                            @(sheet.SheetType.GetDescription())
                                        </span>
                                    </td>
                                    <td>@(sheet.Time.ToString("yyyy-MM-dd"))</td>
                                    <td>@(sheet.Count)</td>
                                    <td>
                                        <span class="badge badge-primary">@(sheet.Money)</span>
                                    </td>
                                    <td>
                                        @switch (sheet.State)
                                        {
                                            case VerificationState.Cancel:
                                                <label class="label label-warning"><i class="fa fa-arrow-left"></i> @(sheet.State.GetDescription())</label>
                                                break;
                                            case VerificationState.Fail:
                                                <label class="label label-danger"><i class="fa fa-ban"></i> @(sheet.State.GetDescription())</label>
                                                break;
                                            case VerificationState.None:
                                                <label class="label label-default"><i class="fa fa-question"></i> @(sheet.State.GetDescription())</label>
                                                break;
                                            case VerificationState.Success:
                                                <label class="label label-success"><i class="fa fa-check"></i> @(sheet.State.GetDescription())</label>
                                                break;
                                        }
                                    </td>
                                    @*<td class="text-right">
                                @switch (sheet.FlowDataState)
                                {
                                    case FlowDataState.Checking:
                                        <i class="fa fa-spin fa-spinner"></i>
                                        break;
                                    case FlowDataState.Done:
                                        <i class="fa fa-flag"></i>
                                        break;
                                }
                            </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>

                </form>


                @{
                    Html.RenderPartial("_pagination", parameter.Page as object);
                }
            </div>
        </div>
    </div>
</div>


