@{ 
    Layout = null;
    List<Group> list = ViewBag.Groups;
    int[] UserIds = ViewBag.Selected;
}

<script>
    $(function () {
        $(".i-checks").iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $(".slick-user").slick({
            dots: true
        });

        $(".input-daterange").datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $("button[name='OK']").click(function () {
            var mans = [];
            var vv = [];
            $("input[name='UserId']:checked").each(function () {
                mans.push($(this).val());
                vv.push($(this).parent().next().text());
            });

          
            var node = $("#Time");
            node.empty();
            var mode = $("#U").html();
            $.each(vv, function (i, value) {
                var appendHtml = mode.replace("{Name}", value).replace("{UserId}",mans[i]);
                node.append(appendHtml);
            });
            $(".input-daterange").datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $("input[name='Persons']").val(vv.join(';'));
        });
    });
</script>

<div class="hidden">
    <div id="U">
        <div class="form-group">
            <label class="control-label col-sm-3">{Name}:</label>
            <div class="col-sm-8">
                <input type="hidden" name="UserId" value="{UserId}" />
                <div class="input-daterange input-group input-group-sm">
                    <input type="text" name="start" class="form-control" placeholder="出差起始时间" />
                    <span class="input-group-addon">-</span>
                    <input type="text" name="end" class="form-control" placeholder="出差结束时间" />
                </div>
            </div>
           
        </div>
    </div>
  
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">选择用户</h4>
</div>

<div class="modal-body">
    @*<div class="slick-user">
        @foreach(var item in list)
        {
            <div>
                <div class="ibox-content">
                    <h2>@(item.Name)</h2>
                    <p>
                        @if (item.Users != null)
                        {
                            foreach (var user in item.Users)
                            {
                                <label class="checkbox-inline i-checks">
                                    <input type="checkbox" value="@(user.ID)" />@(user.Name)
                                </label>
                            }
                        }
                    </p>
                </div>
            </div>
        }
    </div>*@

    @foreach(var item in list)
    {
        <div class="ibox">
            <div class="ibox-title">
                <h5>@(item.Name)</h5>
            </div>
            <div class="ibox-content">
                @if (item.Users != null)
                {
                    foreach (var user in item.Users)
                    {
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" name="UserId" value="@(user.ID)" @(UserIds!=null&&UserIds.Contains(user.ID)?"checked=checked":"") /><span>@(user.Name)</span> 
                        </label>
                    }
                }
            </div>
        </div>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"  data-dismiss="modal" name="OK"><i class="fa fa-check"></i>确定</button>
    <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
</div>