@using LoowooTech.iPadManagerSystem.Models
@using LoowooTech.iPadManagerSystem.Common
@{
    ViewBag.Title = "录入平板";
    Layout = null;
    iPad ipad = ViewBag.iPad;
    bool edit = ViewBag.Edit;
    List<iPadAccount> Accounts = ViewBag.Accounts;
    // Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h3 class="text-center">录入平板</h3>

<form class="form-horizontal" action="/iPad/Create" method="post" id="iPad-form">
    <div class="alert alert-success" role="alert" id="Message" style="display:none">
        <span></span>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <input type="hidden" name="Edit" value="@(edit?"true":"false")" />
            <input type="hidden" name="ID" value="@(ipad!=null?ipad.ID.ToString():"")" />
            <input type="hidden" name="Enter" value="@(ViewBag.Identity.DisplayName)" />
            <input type="hidden" name="Statue" value="@(ipad!=null?ipad.Statue:iPadStatue.Vacant)" />
            <div class="form-group">
                <label class="control-label col-md-4">平板名称【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Name" placeholder="平板名称" class="form-control" value="@(ipad!=null?ipad.Name:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">平板序列号【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="SerialNumber" placeholder="序列号" class="form-control" value="@(ipad!=null?ipad.SerialNumber:"")" maxlength="12" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Apple ID【必选】:</label>
                <div class="col-md-7">
                    <select name="AID" class="form-control">
                        <option value="未绑定">未绑定</option>
                        @foreach (var account in Accounts)
                        {
                            <option value="@(account.ID)" @(ipad != null && ipad.AID == account.ID ? "selected=selected" : "")>@(account.Account)</option>
                        }
                    </select>
                    @*<input type="text" name="Account" placeholder="Apple ID" class="form-control" value="@(ipad!=null?ipad.Account:"")"   required/>*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">购买人【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Buyer" class="form-control" placeholder="购买人" value="@(ipad!=null?ipad.Buyer:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">购买时间【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="Time" placeholder="购买时间" class="form-control datetimepicker" readonly="readonly" @(ipad != null ? "value=" + ipad.Time.ToString() : "") required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">平板类型【必选】：</label>
                <div class="col-md-7">
                    <select name="Type" class="form-control" required>
                        @foreach (iPadType type in Enum.GetValues(typeof(iPadType)))
                        {
                            <option value="@(type)" @(ipad != null && ipad.Type == type ? "selected=selected" : "")>@(type.GetDescription())</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">平板容量【必选】：</label>
                <div class="col-md-7">
                    @foreach (Space space in Enum.GetValues(typeof(Space)))
                    {
                        <label class="radio-inline">
                            <input type="radio" name="Space" value="@(space)" @(ipad != null && ipad.Space == space ? "checked=checked" : "") />@(space.GetDescription())
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">网络连接方式【必选】：</label>
                <div class="col-md-7">
                    @foreach (InternetWay way in Enum.GetValues(typeof(InternetWay)))
                    {
                        <label class="radio-inline">
                            <input type="radio" name="Way" value="@(way)" @(ipad != null && ipad.Way == way ? "checked=checked" : "") />@(way.ToString())
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">颜色【必选】:</label>
                <div class="col-md-7">
                    @foreach (iPadColor color in Enum.GetValues(typeof(iPadColor)))
                    {
                        <label class="radio-inline">
                            <input type="radio" name="Color" value="@(color)" @(ipad != null && ipad.Color == color ? "checked=checked" : "") />@(color.GetDescription())
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">授权码【必填】：</label>
                <div class="col-md-7">
                    <input type="text" name="AuthCode" class="form-control" placeholder="授权码" value="@(ipad!=null?ipad.AuthCode:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">授权文件：</label>
                <div class="col-md-7">
                    <input type="file" name="file" class="form-control" id="file" />
                </div>
                <div class="col-md-offset-4 col-md-7" id="File-List">
                    @if (ipad != null && !string.IsNullOrEmpty(ipad.AuthFile))
                    {
                        <div class="input-group" style="margin:2px;">
                            <input type="text" name="AuthFile" class="form-control" readonly value="@(ipad.AuthFile)" />
                            <input type="hidden" name="AuthPath" value="@(ipad.AuthPath)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-remove-circle"></i></button>
                            </span>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-4">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>添加</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="hide">
    <div id="SelectFile">
        <div class="input-group" style="margin:2px;">
            <input type="text" name="AuthFile" class="form-control" readonly="readonly" value="{FileName}" />
            <input type="hidden" name="AuthPath" value="{FilePath}" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-remove-circle"></i></button>
            </span>

        </div>
    </div>

</div>

<script>
    var fileHtml = $("#SelectFile").html();
    $(function () {
        $("input.datetimepicker").datetimepicker({
            timepicker: false,
            format: 'Y-m-d'
        });




        $("#file").setUpload("/File/Upload?todofile=@(TodoFile.iPad_Contract)&&addfolder=@(DateTime.Now.ToLongDateString())", function (json) {

            var appendHtml = fileHtml;
            appendHtml = appendHtml.replace("{FilePath}", json.data.saveFilePath).replace("{FileName}", json.data.fileName);
            $("#File-List").empty().append(appendHtml);

            $(".input-group-btn>.btn-remove").unbind("click").bind("click", function () {
                $(this).parent().parent().remove();
            });
        });
        $("#iPad-form").submit(function () {
            var enctype = $(this).attr("enctype");
            if (enctype == "multipart/form-data") {
                return;
            }
            $("#Message").hide();
            var data = $(this).serialize();
            var type = $("#iPad-form select[name='Type']").val();
            $.request("/iPad/Create", data, function (json) {
                $("#Message").removeClass("alert-danger").removeClass("alter-success");
                if (json.result == 1) {
                    $("#Message").addClass("alert-success");
                    $("#Message>span").html("操作成功");
                } else {
                    $("#Message").addClass("alert-danger");
                    $("#Message>span").html(json.content);
                }
                $("#Message").show(500);
                if (json.result == 1) {
                    location.href = "/iPad/Index?type="+type;
                }
                return false;
            });
            return false;
        });
    });
</script>


