@using LoowooTech.iPadManagerSystem.Models
@{
    ViewBag.Title = "平板列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    iPadCategory category = ViewBag.Category;
    List<iPadContract> Contracts = ViewBag.Contracts;
    List<iPadInvoice> Invoices = ViewBag.Invoices;
    List<iPadAccount> Accounts = ViewBag.Accounts;
}

<h2>杭州陆吾科技信息咨询有限公司  平板清单</h2>
<div class="btn-group">
    <a data-toggle="modal" data-target="#Modal" href="/iPad/Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>录入平板</a>
    <a data-toggle="modal" data-target="#Modal" href="/iPad/CreateRegister" class="btn btn-danger"><i class="glyphicon glyphicon-apple"></i>使用登记</a>
    <a data-toggle="modal" data-target="#Modal" href="/iPad/CreateInvoice" class="btn btn-warning"><i class="glyphicon glyphicon-plus-sign"></i>录入发票</a>
    <a data-toggle="modal" data-target="#Modal" href="/iPad/CreateContract" class="btn btn-success"><i class="glyphicon glyphicon-book"></i>录入合同</a>
    <a data-toggle="modal" data-target="#Modal" href="/iPad/CreateAccount" class="btn btn-info"><i class="glyphicon glyphicon-flag"></i>创建账号</a>
    <a data-toggle="modal" data-target="#Modal" href="/Ipad/CreateContact" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>录入联系人</a>
    <a data-toggle="modal" data-target="#Modal" href="/Ipad/CreateDatum" class="btn btn-danger"><i class="glyphicon glyphicon-cloud"></i>录入平板数据</a>
    <a href="/iPad/Index" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i>刷新</a>
</div>

@{ 
    Html.RenderPartial("_Message");
}

<hr />



<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="@(category.ToString()=="iPad"?"active":"")"><a href="#iPad" role="tab" data-toggle="tab">平板列表</a></li>
    <li role="presentation" class="@(category.ToString()=="Register"?"active":"")"><a href="#Register" role="tab" data-toggle="tab">使用登记</a></li>
    <li role="presentation" class="@(category.ToString()=="Invoice"?"active":"")"><a href="#Invoice" role="tab" data-toggle="tab">平板发票</a></li>
    <li role="presentation" class="@(category.ToString()=="Contract"?"active":"")"><a href="#Contract" role="tab" data-toggle="tab">项目合同</a></li>
    <li role="presentation" class="@(category.ToString()=="Account"?"active":"")"><a href="#Account" role="tab" data-toggle="tab">Apple ID</a></li>
    <li role="presentation" class="@(category.ToString()=="Datum"?"active":"")"><a href="#Datum" role="tab" data-toggle="tab">平板数据</a></li>
    <li role="presentation" class="@(category.ToString()=="Contact"?"active":"")"><a href="#Contact" role="tab" data-toggle="tab">联系人</a></li>
</ul>
<br />
<div class="tab-content">
    <div role="tabpanel" class="tab-pane @(category.ToString()=="iPad"?"active":"")" id="iPad">
        @{
            Html.RenderAction("ManageriPad", new { type = ViewBag.Type });
        }
    </div>
    <div role="tabpanel" class="tab-pane @(category.ToString()=="Register"?"active":"")" id="Register">
        @{
            Html.RenderAction("ManagerRegisters");
        }
    </div>

    <div role="tabpanel" class="tab-pane @(category.ToString()=="Invoice"?"active":"")" id="Invoice">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>开票时间</th>
                    <th>发票编号</th>
                    <th>发票金额【元】</th>
                    <th>购买回执</th>
                    <th>平板个数</th>
                    <th>采购人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Invoices)
                {
                    <tr>
                        <td>@(item.ID)</td>
                        <td>@(item.Time.ToLongDateString())</td>
                        <td>@(item.Number)</td>
                        <td>@(item.Money)</td>
                        <td>
                            <a href="/@(item.File)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-download-alt"></i>查看</a>
                        </td>
                        <td>@(item.Count)</td>
                        <td>@(item.Buyer)</td>
                        <td>
                            <a href="/iPad/DetailRelation?rid=@(item.ID)&&relation=@(Relation.Invoice_iPad)" class="btn btn-success btn-xs" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-send"></i>平板详情</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane @(category.ToString()=="Contract"?"active":"")" id="Contract">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>合同编号</th>
                    <th>委托方（甲方）</th>
                    <th>开发放（乙方）</th>
                    <th>签订地点</th>
                    <th>签订时间</th>
                    <th>有效期</th>
                    <th>项目平板</th>
                    <th>扫描件</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Contracts)
                {
                    <tr>
                        <td>@(item.ID)</td>
                        <td>@(item.Name)</td>
                        <td>@(item.Number)</td>
                        <td>@(item.PartA)</td>
                        <td>@(item.PartB)</td>
                        <td>@(item.Place)</td>
                        <td>@(item.Time.HasValue ? item.Time.Value.ToLongDateString() : "/")</td>
                        <td>@(string.Format("{0}至{1}", item.StartTime.HasValue ? item.StartTime.Value.ToLongDateString() : "/", item.EndTime.HasValue ? item.EndTime.Value.ToLongDateString() : "/"))</td>
                        <td>
                            <a data-toggle="modal" data-target="#Modal" href="/iPad/DetailRelation?rid=@(item.ID)&&relation=@(Relation.Contract_iPad)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-flash"></i>详情</a>
                        </td>
                        <td>
                            @if (string.IsNullOrEmpty(item.File))
                            {
                                <label class="label label-default">目前还没有上传扫描件</label>
                            }
                            else
                            {
                                <label class="label label-warning"><a href="/@(item.File)"><i class="glyphicon glyphicon-download-alt"></i>下载查看</a> </label>
                            }
                        </td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus"></i>录入平板</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane @(category.ToString()=="Account"?"active":"")" id="Account">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>Apple ID</th>
                    <th>密码</th>
                    <th>E-Mail</th>
                    <th>邮箱密码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Accounts)
                {
                    <tr>
                        <td>@(account.ID)</td>
                        <td>@(account.Account)</td>
                        <td>@(account.Password)</td>
                        <td>@(account.EMail)</td>
                        <td>@(account.EPassword)</td>
                        <td>
                            <a data-toggle="modal" data-target="#Modal" href="/iPad/CreateAccount?id=@(account.ID)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane @(category.ToString()=="Datum"?"active":"")" id="Datum">
        @{
            //Html.RenderAction("ManagerDatum");
        }
    </div>

    <div role="tabpanel" class="tab-pane @(category.ToString()=="Contact"?"active":"")" id="Contact">
        @{
            Html.RenderAction("ManagerContact");
        }
    </div>
</div>
