@using LoowooTech.iPadManagerSystem.Models
@using LoowooTech.iPadManagerSystem.Common
@{
    Layout = null;
    List<iPad> list = ViewBag.List;
}

<hr />

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>序号</th>
            <th>平板名称</th>
            <th>平板序列号</th>
            <th>Apple ID</th>
            <th>平板类型</th>
            <th>平板容量</th>
            <th>网络连接方式</th>
            <th>颜色</th>
            <th>使用状态</th>
            <th>购买时间</th>
            <th>购买人</th>
            <th>信息录入人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ipad in list)
        {
            <tr>
                <td>@(ipad.ID)</td>
                <td>@(ipad.Name)</td>
                <td>@(ipad.SerialNumber)</td>
                <td>@(ipad.Account != null ? ipad.Account.Account : "/")</td>
                <td>@(ipad.Type.GetDescription())</td>
                <td>@(ipad.Space.GetDescription())</td>
                <td>@(ipad.Way)</td>
                <td>@(ipad.Color)</td>
                <td>
                    <a href="#" class="btn @(ipad.Statue==iPadStatue.Vacant?"btn-default":(ipad.Statue==iPadStatue.Borrow?"btn-warning":"btn-success")) btn-xs" data-toggle="modal" data-target="#Modal">@(ipad.Statue.GetDescription())</a>
                </td>
                <td>@(ipad.Time.ToLongDateString())</td>
                <td>@(ipad.Buyer)</td>
                <td>@(ipad.Enter)</td>
                <td>
                    @if (!string.IsNullOrEmpty(ipad.AuthPath))
                    {
                        <a href="/@(ipad.AuthPath)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download-alt"></i>下载授权文件</a>
                    }
                    <a href="/iPad/Create?id=@(ipad.ID)&&edit=true" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-edit"></i>编辑</a>
                    <a href="/iPad/Delete?id=@(ipad.ID)" class="btn btn-danger btn-xs btn-delete"><i class="glyphicon glyphicon-remove"></i>删除</a>
                </td>
            </tr>
        }
    </tbody>

</table>
